.featured-post {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #1c2a36; /* Navy Blue */
  border-radius: 8px;
  overflow: hidden;
  position: relative; /* Add position relative to create a reference for absolute positioning */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow effect to the container */
}

.featured-post-image {
  flex: 0 0 70%; /* Set the image container to take up 70% of the available space */
  overflow: hidden;
}

.featured-post-image img {
  width: 100%; /* Ensure the image takes up 100% of the container width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px 0 0 8px;
}

.featured-post-details {
  flex: 0 0 30%; /* Set the details container to take up 30% of the available space */
  padding: 20px; /* Add padding for spacing */
  position: relative; /* Add position relative for z-index */
}

.featured-post-details::before {
  content: '';
  position: absolute;
  top: 0;
  left: -10px; /* Adjust the position of the orange line */
  width: 2px;
  height: 100%;
  background-color: #f9a825; /* Vibrant Orange */
  z-index: 1; /* Ensure the line is above other content */
}

.featured-post-details::after {
  content: '';
  position: absolute;
  top: 50%; /* Position the second line in the middle */
  left: -10px; /* Adjust the position of the second orange line */
  width: 2px;
  height: 100%;
  background-color: #f9a825; /* Vibrant Orange */
  z-index: 1; /* Ensure the line is above other content */
}

.featured-post-title {
  font-size: 1.5rem;
  color: #f9a825; /* Vibrant Orange */
  margin-bottom: 8px;
}

.featured-post-description {
  font-size: 1rem;
  color: #FFF; /* White */
  margin-left: 10px;
}

.featured-post-link {
  display: block;
  margin-top: 8px;
  margin-left: 10px;
  color: #f9a825; /* Vibrant Orange */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.featured-post-link:hover {
  color: #7c5a17; /* Darker shade of Vibrant Orange */
}

/* Light mode theme */
html:not(.dark) .featured-post {
  background-color: #fff; /* White */
}

html:not(.dark) .featured-post-title,
html:not(.dark) .featured-post-description,
html:not(.dark) .featured-post-link {
  color: #1c2a36; /* Navy Blue */
}


// media queries

/* Hide the image on screens less than 685 pixels */
@media screen and (max-width: 685px) {
  .featured-post-image {
    display: none;
  }

  /* Adjust styles for the remaining content when image is hidden */
  .featured-post-details {
    flex: 1; /* Expand the details section to fill the space */
    padding: 15px;
  }

  .featured-post-title {
    font-size: 1.2rem; /* Adjust font size */
    margin-bottom: 6px; /* Adjust margin */
  }

  .featured-post-description {
    font-size: 1rem;
    color: #1c2a36; /* Navy Blue */
    margin-left: 0; /* Remove margin */
  }
}