.featured-post {
  margin-bottom: 20px;
  background-color: #1c2a36; /* Navy Blue */
  border-radius: 8px;
  overflow: hidden;
}

.featured-post-content {
  display: flex;
}

.featured-post-image {
  flex: 1;
  max-width: 200px;
  overflow: hidden;
  border-right: 2px solid #f9a825; 
}

.featured-post img {
  width: 100%;
  height: auto;
  border-radius: 8px 0 0 8px;
}

.featured-post-details {
  flex: 2;
  padding: 15px;
}

.featured-post-title {
  font-size: 1.5rem;
  color: #f9a825; /* Vibrant Orange */
  margin-bottom: 8px;
}

.featured-post-description {
  font-size: 1rem;
  color: #FFF; /* White */
  margin-left: 10px;
}

.featured-post-link {
  display: block;
  margin-top: 8px;
  margin-left: 10px;
  color: #f9a825; /* Vibrant Orange */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.featured-post-link:hover {
  color: #7c5a17; /* Darker shade of Vibrant Orange */
}

/* Light mode theme */
html:not(.dark) .featured-post {
  background-color: #fff; /* White */
}

html:not(.dark) .featured-post-title,
html:not(.dark) .featured-post-description,
html:not(.dark) .featured-post-link {
  color: #1c2a36; /* Navy Blue */
}


// media queries

/* Hide the image on screens less than 685 pixels */
@media screen and (max-width: 685px) {
  .featured-post-image {
    display: none;
  }

  /* Adjust styles for the remaining content when image is hidden */
  .featured-post-details {
    flex: 1; /* Expand the details section to fill the space */
    padding: 15px;
  }

  .featured-post-title {
    font-size: 1.2rem; /* Adjust font size */
    margin-bottom: 6px; /* Adjust margin */
  }

  .featured-post-description {
    font-size: 1rem;
    color: #1c2a36; /* Navy Blue */
    margin-left: 0; /* Remove margin */
  }
}