---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "BC Developer Blog";
import '../styles/global.css';
import '../styles/landing.css';
---

<BaseLayout pageTitle={pageTitle}>
	<p>Welcome to my corner of the web! Here, I share my experiences, insights, and tips on navigating the ever-evolving landscape of web development.</p>
	<div class="featured-posts">
	  <h2>Featured Posts</h2>
	  <ul>
		<li class="featured-post">
		  <a href="/blog/post-1" class="featured-post-link">Demystifying CSS Flexbox</a>
		  <p class="featured-post-description">A deep dive into the world of CSS Flexbox...</p>
		</li>
		<li class="featured-post">
		  <a href="/blog/post-2" class="featured-post-link">Building Responsive Layouts with CSS Grid</a>
		  <p class="featured-post-description">Learn how to create responsive layouts using CSS Grid...</p>
		</li>
	  </ul>
	</div>
  </BaseLayout>
