---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.jsx";
import '../styles/global.css';
---

<BaseLayout pageTitle="My Projects">
  <section class="projects">
    <h2 class="section-title">My Projects</h2>
    <div class="project-grid">
      <ProjectCard
        title="Brain Trainer Arcade"
        screenshot="/braintrainer.png"
        description="Developed various challenging mini-games to boost cognitive skills."
        demoHref="https://brain-trainer-arcade.vercel.app"
        demoText="View Demo"
      />
      <ProjectCard
        title="Fullstack Auth App"
        screenshot="/fullstackauth.png"
        description="Developed frontend with Astro + React for a dynamic and interactive user interface."
        demoHref="https://github.com/BC1337/Astro-Playground"
        demoText="View Code"
      />
      <ProjectCard
        title="Web Scraper"
        screenshot="https://images.pexels.com/photos/207580/pexels-photo-207580.jpeg"
        description="Developed with Next.js for efficient server-side rendering and API routes."
        demoHref="https://github.com/BC1337/nextJS_brightdata_scraper"
        demoText="View Code"
      />
    </div>
  </section>
</BaseLayout>

<style>
.projects {
  padding: 40px 20px;
  background-color: var(--background-color); /* Using variable from global.css */
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  justify-content: center;
}

</style>